table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
body {
  background-color: bisque;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 50%;
  object-fit: cover;
}
